<table class="table">
    <tr>
        <td>
            <div class="form-group">
                <label for="userName">Sunday Sabha</label>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" placeholder="userName"
                       ng-model="user.ftpAccounts[0].userName">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="pwd"
                       ng-model="user.ftpAccounts[0].password">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="userName">Bhaio Sabha</label>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" placeholder="userName"
                       ng-model="user.ftpAccounts[1].userName">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="pwd"
                       ng-model="user.ftpAccounts[1].password">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="userName">Beno Sabha</label>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" placeholder="userName"
                       ng-model="user.ftpAccounts[2].userName">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="pwd"
                       ng-model="user.ftpAccounts[2].password">
            </div>
        </td>
    </tr>
</table>