<table class="table">
    <tr>
        <td>
            <div class="form-group">
                <label for="soll">Soll</label>
                <input type="text" class="form-control" id="soll" placeholder="soll"
                       ng-model="user.payment.soll">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="ist">Ist</label>
                <input type="text" class="form-control" id="ist" placeholder="ist"
                       ng-model="user.payment.ist">
            </div>
        </td>
    </tr>
</table>