<table class="table table-bordered">
    <tbody>
    <tr>
        <td>
            <div class="form-group">
                <label for="homeNo">HOME</label>
                <input type="text" class="form-control" id="homeNo" placeholder="home no"
                       ng-model="user.contact.telephones[0]">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="workNo">WORK</label>
                <input type="text" class="form-control" id="workNo" placeholder="work no"
                       ng-model="user.contact.telephones[1]">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="mobNo">MOBILE</label>
                <input type="text" class="form-control" id="mobNo" placeholder="mobile no"
                       ng-model="user.contact.telephones[2]">
            </div>
        </td>
    </tr>
    </tbody>
</table>