<script>
    $(function() {
        $( "#birthdate" ).datepicker({dateFormat:'dd/mm/yy'});
        $( "#arrivalDate" ).datetimepicker({dateFormat:'dd/mm/yy'});
        $( "#departureDate" ).datetimepicker({dateFormat:'dd/mm/yy'});
        $( "#arrivalDateR" ).datetimepicker({dateFormat:'dd/mm/yy'});
        $( "#departureDateR" ).datetimepicker({dateFormat:'dd/mm/yy'});
        $( "#trainArrivalTime" ).datetimepicker({dateFormat:'dd/mm/yy'});

    });
</script>
<h1>TEST</h1>
<div class="container">
    <h2>Edit Devotee</h2>
    <h4 style="font-style: italic;">${devotee.firstName } ${devotee.lastName} </h4>

    <ul class="nav nav-tabs">
        <li ng-class="{ active : isSet(1) }">
            <a ng-click="setTab(1)">Basic Information<i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(2) }">
            <a ng-click="setTab(2)">Telephones <i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(3) }">
            <a ng-click="setTab(3)">Address <i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(4) }">
            <a ng-click="setTab(4)"> Flight <i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(5) }">
            <a ng-click="setTab(5)">Additional-Info <i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(6) }">
            <a ng-click="setTab(6)">Payment-Info <i class="fa"></i></a>
        </li>
        <li ng-class="{ active: isSet(7) }">
            <a ng-click="setTab(7)">FTP-Account Details <i class="fa"></i></a>
        </li>

    </ul>
    <method="post" action="updateDevotee" commandName="devotee" role=">
        <hidden path="id"/>

        <div id="tabContent" class="tab-content">
            <div ng-show="isSet(1)">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><label path="firstName">First Name: </label>
                        <td><input path="firstName"/>
                            <errors path="firstName"/>
                        </td>

                        <td><label path="firstNamePassport">First Name (Passport) </label>
                        <td><input path="firstNamePassport"/>
                            <errors path="firstNamePassport"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label path="lastName">Last Name</label>
                        <td><input path="lastName"/>
                            <errors path="lastName"/></td>

                        <td><label path="email">Email</label>
                        <td><input path="email"/>
                            <errors path="email"/></td>
                    </tr>
                    <tr>
                        <td><label path="mobile">Mobile</label>
                        <td><input path="mobile"/>
                            <errors path="mobile"/></td>

                        <td><label path="mobileIndia">Mobile (IN) </label></td>
                        <td><input path="mobileIndia"/>
                            <errors path="mobileIndia"/></td>
                    </tr>

                    <tr>
                        <td><label path="birthDate"><spring:message code="label.birthDate"/> </label>
                        <td><input path="birthDate" id="birthdate"/>
                            <errors path="birthDate" /></td>

                        <td><label path="gender">Gender</label>
                        <td><select path="gender" items="${gender}"/>
                            <errors path="gender"/></td>

                    </tr>
                </table>
            </div>
            <div ng-show="isSet(2)">

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><label path="telephones[0].number"> HOME: </label>
                        <td><input path="telephones[0].number"/>
                            <errors path="telephones[0].number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label path="telephones[1].number">WORK : </label>
                        <td><input path="telephones[1].number"/>
                            <errors path="telephones[1].number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label path="telephones[2].number"> MOBILE: </label>
                        <td><input path="telephones[2].number"/>
                            <errors path="telephones[2].number"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>

                    </tbody>
                </table>
                </fieldset>

            </div>
            <div ng-show="isSet(3)">
                <fieldset>
                    <legend>HOME</legend>

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><label path="addresses[0].streetName">Street Name: </label>
                            <td><input path="addresses[0].streetName"/>
                                <errors path="addresses[0].streetName"/>
                            </td>

                            <td><label path="addresses[0].houseNumber">House Number: </label>
                            <td><input path="addresses[0].houseNumber"/>
                                <errors path="addresses[0].houseNumber"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label path="addresses[0].plz">PLZ: </label>
                            <td><input path="addresses[0].plz"/>
                                <errors path="addresses[0].plz"/>
                            </td>

                            <td><label path="addresses[0].state">State : </label>
                            <td><input path="addresses[0].state"/>
                                <errors path="addresses[0].state"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label path="addresses[0].country">Country : </label>
                            <td><input path="addresses[0].country"/>
                                <errors path="addresses[0].country"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>OFFICE</legend>

                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><label path="addresses[1].streetName">Street Name: </label>
                            <td><input path="addresses[1].streetName"/>
                                <errors path="addresses[1].streetName"/>
                            </td>

                            <td><label path="addresses[1].houseNumber">House Number: </label>
                            <td><input path="addresses[1].houseNumber"/>
                                <errors path="addresses[1].houseNumber"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label path="addresses[1].plz">PLZ: </label>
                            <td><input path="addresses[1].plz"/>
                                <errors path="addresses[1].plz"/>
                            </td>

                            <td><label path="addresses[1].state">State : </label>
                            <td><input path="addresses[1].state"/>
                                <errors path="addresses[1].state"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label path="addresses[1].country">Country : </label>
                            <td><input path="addresses[1].country"/>
                                <errors path="addresses[1].country"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </fieldset>

            </div>
            <div ng-show="isSet(4)">
                <fieldset>
                    <legend>To India</legend>
                    <table>
                        <tr>
                            <td><label path="flightInfo.departureLoc">Departure Location</label></td>
                            <td><select path="flightInfo.departureLoc" items="${germanyAP}"/></td>
                            <td><errors path="flightInfo.departureLoc"/></td>
                            <td><label path="flightInfo.departureDate">DepartureDate</label></td>
                            <td><input path="flightInfo.departureDate" id="departureDate"/></td>
                            <td><errors path="flightInfo.departureDate"/></td>
                            <td><label path="flightInfo.departingFlightNumber">Departing Flight Nr</label></td>
                            <td><input path="flightInfo.departingFlightNumber"/></td>
                            <td><errors path="flightInfo.departingFlightNumber"/></td>
                        </tr>
                        <tr>
                            <td><label path="flightInfo.arrivalLoc">Arrival Location</label></td>
                            <td><select path="flightInfo.arrivalLoc" items="${indiaAP}" /></td>
                            <td><errors path="flightInfo.arrivalLoc"/></td>
                            <td><label path="flightInfo.arrivalDate">Arrival Date</label></td>
                            <td><input path="flightInfo.arrivalDate" id="arrivalDate"/></td>
                            <td><errors path="flightInfo.arrivalDate"/></td>
                            <td><label path="flightInfo.arrivingFlightNumber">Arriving Flight Nr</label></td>
                            <td><input path="flightInfo.arrivingFlightNumber"/></td>
                            <td><errors path="flightInfo.arrivingFlightNumber"/></td>

                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <legend>From India</legend>
                    <table>
                        <tr>
                            <td><label path="flightInfo.departureLocR">Departure Location</label></td>
                            <td><select path="flightInfo.departureLocR" items="${indiaAP}"/></td>
                            <td><errors path="flightInfo.departureLocR"/></td>
                            <td><label path="flightInfo.departureDateR">DepartureDate</label></td>
                            <td><input path="flightInfo.departureDateR" id="departureDateR"/></td>
                            <td><errors path="flightInfo.departureDateR"/></td>
                            <td><label path="flightInfo.departingFlightNumberR">Departing Flight Nr</label></td>
                            <td><input path="flightInfo.departingFlightNumberR"/></td>
                            <td><errors path="flightInfo.departingFlightNumberR"/></td>

                        </tr>
                        <tr>
                            <td><label path="flightInfo.arrivalLocR">Arrival Location</label></td>
                            <td><select path="flightInfo.arrivalLocR" items="${germanyAP}"/></td>
                            <td><errors path="flightInfo.arrivalLocR"/></td>
                            <td><label path="flightInfo.arrivalDateR">Arrival Date</label></td>
                            <td><input path="flightInfo.arrivalDateR" id="arrivalDateR"/></td>
                            <td><errors path="flightInfo.arrivalDateR"/></td>
                            <td><label path="flightInfo.arrivingFlightNumberR">Arriving Flight Nr</label></td>
                            <td><input path="flightInfo.arrivingFlightNumberR"/></td>
                            <td><errors path="flightInfo.arrivingFlightNumberR"/></td>

                        </tr>
                    </table>
                </fieldset>
            </div>
            <div ng-show="isSet(5)">
                <fieldset>
                    <table>
                        <tr>
                            <td>
                                <label path="commingOnHisOwn">Is Comming on His Own?</label>
                                <checkbox path="commingOnHisOwn"/>
                                <errors path="commingOnHisOwn"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label path="additionalInfo.registered">Is Registered?</label>
                                <checkbox path="additionalInfo.registered"/>
                                <errors path="additionalInfo.registered"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label path="commingFirstTime">Comming First Time?</label>
                                <checkbox path="commingFirstTime"/>
                                <errors path="commingFirstTime"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label path="trainInfo.arrivingStation">Train Station</label>
                                <input path="trainInfo.arrivingStation"/>
                                <errors path="trainInfo.arrivingStation"/></td>
                            <td><label path="trainInfo.arrivalTime">Arrival Date</label>
                                <input path="trainInfo.arrivalTime" id="trainArrivalTime"/>
                                <errors path="trainInfo.arrivalTime"/></td>
                            <td><label path="trainInfo.number">Train Nr:</label>
                                <input path="trainInfo.number"/>
                                <errors path="trainInfo.number"/></td>
                        </tr>
                        <tr>
                            <td>
                                <label path="additionalInfo.reference">Reference</label>
                                <input path="additionalInfo.reference"/>
                                <errors path="additionalInfo.reference"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label path="additionalInfo.isComingToPilgrimage">Is Coming to Pilgrimage:</label>
                                <select path="additionalInfo.isComingToPilgrimage" items="${selection}"/>
                                <errors path="additionalInfo.isComingToPilgrimage"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label path="additionalInfo.commingToAYM">Coming To AYM:</label>
                                <select path="additionalInfo.commingToAYM" items="${selection}"/>
                                <errors path="additionalInfo.commingToAYM"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label path="additionalInfo.team">Team:</label>
                                <input path="additionalInfo.team"/>
                                <errors path="additionalInfo.team"/>
                            </td>
                            <td>
                                <label path="additionalInfo.roomEnum">Room:</label>
                                <select path="additionalInfo.roomEnum" items="${roomEnum}"/>
                                <errors path="additionalInfo.roomEnum"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label path="additionalInfo.responsibleForRoom">Is Responsible For Room:</label>
                                <checkbox path="additionalInfo.responsibleForRoom"/>
                                <errors path="additionalInfo.responsibleForRoom"/>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div ng-show="isSet(6)">
                <table>
                    <tr>
                        <td>
                            <label path="paymentInfo.soll">Soll:</label></td>
                        <td><input path="paymentInfo.soll"/>
                            <errors path="paymentInfo.soll"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label path="paymentInfo.ist">Ist:</label></td>
                        <td><input path="paymentInfo.ist"/>
                            <errors path="paymentInfo.ist"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-show="isSet(7)">
                <table class="table table-bordered">
                    <tr>
                        <td>1</td>
                        <td>
                            <label path="ftpUserAccounts[0].userName">User Name</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[0].userName"/>
                            <errors path="ftpUserAccounts[0].userName"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[0].password">Password</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[0].password"/>
                            <errors path="ftpUserAccounts[0].password"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[0].accountType">Account Type</label>
                        </td>
                        <td>
                            <select path="ftpUserAccounts[0].accountType" items="${ftpAccountTypes}"/>
                            <errors path="ftpUserAccounts[0].accountType"></errors>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <label path="ftpUserAccounts[1].userName">User Name</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[1].userName"/>
                            <errors path="ftpUserAccounts[1].userName"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[1].password">Password</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[1].password"/>
                            <errors path="ftpUserAccounts[1].password"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[1].accountType">Account Type</label>
                        </td>
                        <td>
                            <select path="ftpUserAccounts[1].accountType" items="${ftpAccountTypes}"/>
                            <errors path="ftpUserAccounts[1].accountType"></errors>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <label path="ftpUserAccounts[2].userName">User Name</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[2].userName"/>
                            <errors path="ftpUserAccounts[2].userName"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[2].password">Password</label>
                        </td>
                        <td>
                            <input path="ftpUserAccounts[2].password"/>
                            <errors path="ftpUserAccounts[2].password"></errors>
                        </td>
                        <td>
                            <label path="ftpUserAccounts[2].accountType">Account Type</label>
                        </td>
                        <td>
                            <select path="ftpUserAccounts[2].accountType" items="${ftpAccountTypes}"/>
                            <errors path="ftpUserAccounts[2].accountType"></errors>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="centered">
            <input type="submit" value="Update" class="btn btn-success">
        </div>

    <input type="button" value="home" onclick="location.href='home'" class="btn btn-primary">

</div>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>