<h2>Edit Devotee</h2>
<h4>{{user.name.firstName }} {{user.name.lastName}} </h4>
<form >
<ul class="nav nav-tabs">
    <li ng-class="{ active : isSet(1) }">
        <a ng-click="setTab(1)">Basic Information<i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(2) }">
        <a ng-click="setTab(2)">Telephones <i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(3) }">
        <a ng-click="setTab(3)">Address <i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(4) }">
        <a ng-click="setTab(4)"> Flight <i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(5) }">
        <a ng-click="setTab(5)">Additional-Info <i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(6) }">
        <a ng-click="setTab(6)">Payment-Info <i class="fa"></i></a>
    </li>
    <li ng-class="{ active: isSet(7) }">
        <a ng-click="setTab(7)">FTP-Account Details <i class="fa"></i></a>
    </li>

</ul>
<div id="tabContent" class="tab-content">
    <div ng-show="isSet(1)">
        <basic-info></basic-info>
    </div>
    <div ng-show="isSet(2)">
        <tel-info></tel-info>
    </div>
    <div ng-show="isSet(3)">
        <addr-info></addr-info>
    </div>
    <div ng-show="isSet(4)">
        <flight-info></flight-info>
    </div>
    <div ng-show="isSet(5)">
        <add-info></add-info>
    </div>
    <div ng-show="isSet(6)">
        <payment-info></payment-info>
    </div>
    <div ng-show="isSet(7)">
        <ftp-info></ftp-info>
    </div>
</div>

<input type="submit" value="Update" class="btn btn-success">

<input type="button" value="home" onclick="location.href='home'" class="btn btn-primary">
</form>