<table class="table ">
    <tr>
        <td>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="first name"
                       ng-model="user.fname">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="firstNamePassport">First Name (Passport)</label>
                <input type="text" class="form-control" id="firstNamePassport"
                       placeholder="first name" ng-model="user.passname">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="last name"
                       ng-model="user.lname">
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="birthdate">Birth Date</label>
                <input type="date" class="form-control" id="birthdate" placeholder="birth date"
                       ng-model="user.bdate">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" placeholder="gender"
                       ng-model="user.gender">
            </div>
        </td>
        <td></td>
    </tr>
</table>


