<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Search : <input ng-model="$ctrl.query">
        </div>
    </div>
    <div class="col-md-10">
        <!--Body content-->
        test
        <ul>
            <li ng-repeat="devotee in $ctrl.devotees">
                <span>
                    <a href="#/devotee/{{devotee.contactInfo.basicInfo.name.firstName}}">
                        {{devotee.contactInfo.basicInfo.name.firstName}}
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
